.h1:hover {
  background: #F7F4FD !important;
}

.h2:hover {
  background: #F7F4FD !important;
}

.h3:hover {
  background: #F7F4FD !important;
}

.h4:hover {
  background: #F7F4FD !important;
}

.h5:hover {
  background: #F7F4FD !important;
}

.h6:hover {
  background: #F7F4FD !important;
}

.h7:hover {
  background: #F7F4FD !important;
}

.h8:hover {
  background: #F7F4FD !important;
}

.h9:hover {
  background: #F7F4FD !important;
}

.h10:hover {
  background: #F7F4FD !important;
}

.h11:hover {
  background: #F7F4FD !important;
}

.h12:hover {
  background: #A44A00 !important;
}

.h13:hover {
  background: #A44A00 !important;
}

.h14:hover {
  background: #A44A00 !important;
}

.h15:hover {
  background: #A44A00 !important;
}

.h16:hover {
  background: #A44A00 !important;
}

.h17:hover {
  background: #F2EEFA !important;
}
