.h1:hover {
  background: #EDE6FA !important;
}

.h2:hover {
  background: #EDE6FA !important;
}

.h3:hover {
  color: #A44A00 !important;
}

.h4:hover {
  opacity: .82 !important;
}

.h5:hover {
  opacity: .82 !important;
}
